body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-container {
  height: 100vh;
  background: url('../assets/fondo.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-box {
  display: flex;
  width: 90%;
  height: 90vh;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.95);

}
